@font-face {
  font-family: cuprum;
  src: url("technomart/technomart/fonts/web/cuprum.woff2")format("woff2"), url("technomart\technomart\fonts\web\cuprum.woff")format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: cuprumbold;
url("technomart\technomart\fonts\web\cuprumbold2.woff2")format("woff2"),
url("technomart\technomart\fonts\web\cuprumbold.woff")format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: cuprumbolditalic;
  src: url("technomart\technomart\fonts\web\cuprumolditalic.woff2") format("woff2") url("technomart\technomart\fonts\web\cuprumolditalic.woff2")format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: cuprumitalic;
  src: url("technomart\technomart\fonts\web\cuprumitalic.woff2") format("woff2") url("technomart\technomart\fonts\web\cuprumitalic.woff2")format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: ptsans;
  src: url("technomart\technomart\fonts\web\ptsans.woff2") format("woff2") url("technomart\technomart\fonts\web\ptsans.woff2")format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: ptsansbold;
  src: url("technomart\technomart\fonts\web\ptsansbold.woff2") format("woff2") url("technomart\technomart\fonts\web\ptsansbold.woff2")format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --basick-red: #EE3643;
  --basick-green: #63A63E;
  --basick-grey: #3D546F;
  --basick-greylight: #C5C5C5;
  --basick-background: #F1F5F7;
  --white: #FFFFFF;
  --special-yellow: #FFBF47;
  --special-blue: #3BBCE3;
  --special-lilac: #DC91D8;
  --special-greenlight: #8ED78F;
  --special-yellowlight: #FFD180;
  --success: #5FBB2D;
  --warning: #FFBF47;
  --mistake: #BA2732;
  --light-grey: #EAEAEA;
  --main-nav: #32425C;
}
.body-back {
  background-color: #5FBB2D;
}
body {
  width: 1200px;
  color: #FFFFFF;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.page-header {
  background-color: var(--basick-background);
  color: var(--white);
}
.page-header-wrap{
  margin-left: 130px;
  margin-right: 130px;
}
.page-header-top{
background-color: #293449;
height: 42px;
}
.page-header-wrap,
.user-nav {
  display: flex;
}
.page-header-search {
  padding-left: 19px;
}
.main-nav {
  background-color: #293449;
  height: 42px;
}
.main-nav-list{
  display: flex;
  padding-top: 10px;
  justify-content: space-between;
}
.page-header-center {
  display: flex;
  margin-right: 130px;
  margin-left: 130px;
}
.page-header-title {
  width: 197px;
  height: 71px;
  font-family: Cuprum;
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  line-height: 23px;
  align-items: center;
  color: #EE3643;
  margin-left: 30px;
}

.page-footer-top{
  background-color: #32425C;
}
.page-footer-wrapper {
  width: 940px;
}
.footer-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.footer-nav-link,
.footer-nav-link-yellow {
  margin-left: 59px;
}
.page-footer-bottom{
  background-color: #293449;
  display: flex;
}
.footer-social {
  display: flex;
  justify-content: center;
}
.footer-connect {
  display: flex;
  font-size: 16px;
}

